body{
	font-family: 'PT Sans',sans-serif;
	background-color:black;
	margin: 0;
	padding: 0;
}
#menu{
	width: 35px;
	/* height: 30px; */
	margin: 10px 0 20px 20px;
	cursor: pointer;
	margin-bottom: 0;
	 
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #66fcf2;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,#5be2d9,#66fcf2);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}
.header
{
	color: #66fcf2;
	width: 100%;
}
.hello
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* position: fixed; */
}
.slogan
{
padding: 0%;
color:white;
text-align: center;
font-size: 32px;
width: 100%;
}
.services
{
color: #66fcf2;
text-align: center;
width: 100%;
}
.services-list li
{
	display: inline;
	list-style: none;
	text-align: center;
	font-size: 30px;
	
}
.services-list li a{
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	margin: 25px;
	padding: 50px;
}
.abouth1
{
	color: black;
	text-align: center;
	font-size: 120px;
	width: 100%;
	line-height: 1.5;
	margin-top: 0%;
	padding-top: 0%;
}
.about
{
	padding: 0%;
color:black;
text-align: center;
font-size: 32px;
width: 100%;
}
.topmenu
{
	color: #66fcf2;
	margin: 80px;
	margin-bottom: -94px;
}
#about
{
	background-color:#66fcf2;
	color: black;
	height: 500px;
	width: 100%;
}
.contact
{
	text-align: center;
	font-size: 32px;
	width: 100%;
}
footer{
	font-size: 15px;
	width: 100%;
}
.fts{
	margin-top: -90px;
	text-align: center;
	font-size: 400px;
	color:#5be2d9;
}
.fts-def{
	margin-top: -350px;
	text-align: center;
	font-size: 70px;
	color:#5be2d9;
}
